<strong>Ola, {{provider}}</strong>
<p>Houve um cancelamento de horario comfira os detalhes abaixo</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/Hora: </strong> {{date}} <br /><br />
  <small>O horario esta novamento disponivel para novos agendamentos</small>
</p>
